@model QuizApp.Models.Question

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QuestionString)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionString)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Answer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Answer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OptionA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OptionA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OptionB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OptionB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OptionC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OptionC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OptionD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OptionD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddedBy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
